
.preFooter{
    height: 50px;
    background-color: transparent;

    /* This fixes some overalp due to the bottom of the wave pattern not being perfectly straight*/
    margin-bottom: -3px;

    background-image: url("/static/img/wave-pattern.svg"); 
    background-repeat: repeat-x;
    background-position: bottom;

    background-size: 50px 50px;
}