# Ignore specific files and directories
.git/
**/.DS_Store
**/*.rs.bk

# Ignore build artifacts
sim-rs/target/
sim-rs/output/
**/dist/
**/dist-newstyle/

# Allow specific directories and files
!sim-rs/
!simulation/
!conformance-testing/
!data/simulation/*.yaml
!leios-trace-hs/
!cabal.project

# Allow cabal files
!simulation/*.cabal
!conformance-testing/*.cabal
!leios-trace-hs/*.cabal 