# Ignore everything
*
!sim-rs/
!simulation/
!conformance-testing/
!data/simulation/*.yaml
!leios-trace-hs/
!cabal.project

# Ignore unnecessary files even in sim-rs
sim-rs/target/
sim-rs/.git/
sim-rs/output/
**/*.rs.bk
**/.DS_Store 