report/leios-design.aux
report/leios-design.log
report/leios-design.out
report/leios-design.pdf
report/leios-design.toc
*~
dist-newstyle/
\#*
.\#*
.pre-commit-config.yaml
_build
*.log
.DS_Store
/simulation/docs/*/.ran-report-data
/simulation/docs/*/targets.d
/simulation/docs/*/*.pdf
/simulation/docs/sim-realism.pdf
/simulation/docs/sim-realism.bbl
/simulation/docs/sim-realism.tdo
/simulation/docs/sim-realism.toc
/simulation/docs/sim-realism.out
/simulation/docs/sim-realism.fls
/simulation/docs/sim-realism.aux
/simulation/docs/sim-realism.blg
/simulation/docs/sim-realism.fdb_latexmk
/simulation/docs/*/*.eps
/simulation/docs/scenario*/sim-data.json
/simulation/docs/*/sim-data.json
/simulation/docs/_minted-sim-realism/
/data/simulation/*.trace.json
/data/simulation/*.array.schema.json

# npm packages
node_modules/

# direnv caches
**/.direnv/

# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

/.dir-locals.el
