# Virtual Environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/

# Results directory
results/

# Virtual environment
.venv/
venv/
ENV/
sweeper/
