.anchor { position: relative; }
.blackBox { background-color: black; border-radius: 50%; margin: 4px; padding: 16px; cursor: pointer; }
.cdf { border: 4px solid orange; margin: 4px; padding: 4px; }
.popup {
  position: absolute; top: 0; left: 0;
  background-color: white; border: 1px solid black;
  padding: 4px;
  display: flex; flex-direction: column;
  white-space: nowrap;
  z-index: 1;
}
.popup form { margin: 0px; }
.name { border: 4px solid orange; border-radius: 50%; margin: 4px; padding: 8px; cursor: pointer; }
.frame { margin: 4px; border: 1px solid grey; }
.seqSymbol { padding: 5px; border: 2px solid black; margin: 4px; cursor: pointer; }
.disjoint { background-color: lightblue; }
.branchKind { padding: 8px; cursor: pointer; }
.expression {
  background-color: rgb(206, 236, 254);
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 4px;
  cursor: pointer;
}
.ctx_list { max-height: 30%; overflow-y: scroll; }
.selected { font-weight: bold; }
.dq_edit { vertical-align: text-top; flex-grow: 1; margin-left: 16px; }
.dq_edit form { display: flex; }
.dq_edit input[type="text"] { width: 100%; }
.dq_show { margin-left: 16px; }
.result { max-height: 5em; overflow-y: scroll; }
.ctx_popup { z-index: 1; position: absolute; left: 20px; top: 20px; right: 20px; bottom: 20px; border: 1px solid black; background-color: lightgrey; }
.ctx_popup textarea { width: 100%; white-space: nowrap; }

.column { display: flex; flex-direction: column; }
.row { display: flex; flex-direction: row; }
.center { align-items: center; justify-content: center; }
.left { align-items: left; }

.slack { background-color: lightgreen; }
.danger { background-color: lightcoral; }
.failed { background-color: lightgrey; }

input[type="number"] { width: 5em; }
input[type="text"] { width: 7em; }
