form input {
    margin: 1em;
}

span.help {
    cursor: help;
    color: white;
    background-color: #aaa;
    align-items: center;
    padding: 0 0.3em;
    margin: 0 1em;
    border-radius: 10px;
}

ul {
    list-style-position: inside;
}

li {
    margin: 0 0.5em;
}
