.endorser {
  position: relative;
}

.block {
  position: relative;
  background-color: #8884d8;
}

.input {
  position: relative;
  transition-property: flex-shrink;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  flex-shrink: 1;
}

.input.hovered {
  flex-shrink: 0;
}
